---
import '../styles/global.css'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'

const pageTitle = 'About'
const me ={
    firstName: "Neal",
    state: "Kentucky",
    occupation: "Server",
    hobbies: ["trumpet", "photography", "coding", "dungeons and dragons"]
}

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Photography", "Trumpet"]

const mood = "motivated"
const finished = false
const goal = 2

---
<html data-theme="mytheme" lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <Nav />
		<h1>My Personal Portfolio!</h1>
        <h1>{pageTitle}</h1>
        <h2>Me and my businesses</h2>
        <p>I am currently a coder and professional photographer!</p>
        <p>I am also a classically trained musician and teacher!</p>
        <p>Here are some facts about me:</p>
        <ul>
            <li>My name is {me.firstName}.</li>
            <li>I live in {me.state} and I work as a {me.occupation}</li>
            {me.hobbies.length >= 2 &&
            <li>Two of my hobbies are: {me.hobbies[0]} and {me.hobbies[1]}</li>
            }
        </ul>
        <p>I'm skilled in:</p>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>
        <Footer />
	</body>
</html>
